@tailwind base;
@tailwind components;
@tailwind utilities;

.hiddenSideBar {
    top: 0;
    position: fixed;
    display: none;
}
  
.sideBar {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    top: 0px;
    background-color: white;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    z-index: 9999;
}
  
.sideBarElement {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    -webkit-transition: transform 0.25s ease-in-out,
                        background-color 0.25s ease-in-out,
                        color 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out,
                    background-color 0.25s ease-in-out,
                    color 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out,
                background-color 0.25s ease-in-out,
                color 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out,
                background-color 0.25s ease-in-out,
                color 0.25s ease-in-out;
}

.slideIn {
    position: fixed;
    top: 0;
    animation: slideIn 0.25s ease-in-out;
    animation-fill-mode: forwards;
}
  
.slideOut {
    position: fixed;
    top: 0;
    animation: slideOut 0.25s ease-in-out;
    animation-fill-mode: forwards;
}